<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="HRMSConnectionString" connectionString="Data Source='.';Initial Catalog=db.hrms.netragenix.com;Integrated Security=SSPI;"/>
    <add name="hrms.netragenixConnectionString" connectionString="Data Source=.;Initial Catalog=db.hrms.netragenix.com;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <!--Salim-->
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <system.web>
    <globalization culture="es-ES" uiCulture="es-ES"/>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">

    </compilation>
    <!--<compilation debug="true" targetFramework="4.5.2"/>-->
    <httpRuntime targetFramework="4.5.2"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>


    <customErrors mode="Off"/>

  </system.web>


  <system.webServer>
    <!--<security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800" /> -->
    <!--50MB-->
    <!--
     </requestFiltering>
    </security>-->
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>
    </modules>

  </system.webServer>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>

  </startup>
</configuration>